body {
    margin: 0px;
}

.titulo {
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.logocentro{
  margin: auto;
  width: auto;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.partedecima {
    width: auto;
    height: 100px;
    background-color: #0B1022;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.logo {
    width: 100px;
}

.logo2 {
    width: 70px;
}


.partedomeio {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #1A2349;
    display: flex;
    flex-wrap: wrap;
}

.basemusica {
    width: 200px;
    height: 280px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 50px;
}

.basemusica:hover {
    background-color: rgb(228, 227, 227);
}

.imgmusica {
    width: 180px;
    height: 140px;
    background-color: gray;
    margin: auto;
}

.titulomusica {
    font-size: 17px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnplay {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin-left: 80px;
    background-color: silver;
    cursor: pointer;
    font-size: 20px;
}

.btnplay:hover {
    background-color: gray;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.musicaplayer {
  background-color: #272A39;
    display: flex;
    flex-wrap: wrap;
    position:sticky;
    left: 0px;
    bottom: 0px;
    padding: 2px;
}

.textomusica {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playerbase {
    width: 1000px;
    height: 55px;
    margin-left: 10px;
    margin-top: 10px;
}

.playerpadrao {
    width: 1200px;
    height: 55px;
    margin-left: 10px;
    margin-top: 8px;

}

hr {
    margin-left: 10px;
    margin-right: 20px;
}

.imgdamusica {
    width: 100px;
    height:auto;padding:2px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 13px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.espaçocriado {
    width: auto;
    height: auto;
}

.add_btn,
.rr_btn {
    width: 80px;
    height: 30px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid silver;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.voltarmsc,
.seguirmsc {
    width: 50px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
}

.voltarmsc {
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.seguirmsc {
    border-radius: 0px 20px 20px 0px;
    border: none;
}

.voltarmsc:hover {
    background-color: silver;
}

.seguirmsc:hover {
    background-color: silver;
}


@media screen and (min-width:300px) {
  
.imgdamusica{
  margin: auto;
  margin-top: 10px;padding:5px;
  margin-bottom: 5px;
}
      .playerbase{
    margin: auto;
         
      }
      .partedomeio{
        height: auto;
      }
      hr{
        display: none;
      }
      .voltarmsc,.seguirmsc{
        width: 30px;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
margin-right: 15px;
      }
 .partedomeio{
  overflow: hidden;
 }
  }
  
@media screen and (min-width:410px) {
      .partedomeio{
        height: auto;
      }
     
      .logo2{
        display: flex;
      }
 
  }

@media screen and (min-width:1366px){
.playerbase{
    width:800px
}
}


 
  
