body {
    margin: 0px;
}

.titulo {
    font-size: 30px;
    line-height: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.partedecima {
    width: auto;
    height: 100px;
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

.logo2 {
    width: 70px;
}

.partedaesquerda {
    width: 200px;
    height: 500px;
    position: absolute;
    left: 0%;
    background-color: rgb(130, 160, 190);
    display: none;
}

.partedomeio {
    width: auto;
    height: 587px;
    background-color: rgb(101, 115, 129);
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.basemusica {
    width: 200px;
    height: 280px;
    background-color: white;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.basemusica:hover {
    background-color: rgb(228, 227, 227);
}

.imgmusica {
    width: 180px;
    height: 140px;
    background-color: gray;
    margin: auto;
}

.titulomusica {
    font-size: 17px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnplay {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    margin-left: 80px;
    background-color: silver;
    cursor: pointer;
    font-size: 20px;
}

.btnplay:hover {
    background-color: gray;
    color: white;
    font-size: 25px;
}

.musicaplayer {
    width: 1600px;
    height: auto;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
}

.textomusica {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.playerbase {
    width: 1000px;
    height: 55px;
    margin-left: 10px;
    margin-top: 8px;
}

.playerpadrao {
    width: 1200px;
    height: 55px;
    margin-left: 10px;
    margin-top: 8px;

}

hr {
    margin-left: 10px;
    margin-right: 20px;
}

.imgdamusica {
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    font-size: 13px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.espaçocriado {
    width: auto;
    height: auto;
}

.add_btn,
.rr_btn {
    width: 80px;
    height: 30px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid silver;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.voltarmsc,
.seguirmsc {
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.voltarmsc {
    border-radius: 20px 0px 0px 20px;
    border: none;
}

.seguirmsc {
    border-radius: 0px 20px 20px 0px;
    border: none;
}

.voltarmsc:hover {
    background-color: silver;
}

.seguirmsc:hover {
    background-color: silver;
}

@media screen and (min-width:249px) {
    body {
        display: none;
    }
}

@media screen and (min-width:300px) {
    body {
        display: block;
    }

    .basemusica {
        margin: 25px;
    }

    .musicaplayer {
        bottom: 0%;
        width: 300px;
    }

    .logo2 {
        display: none;
    }

    hr {
        display: none;
    }

    .imgdamusica {
        display: none;
    }

    .voltarmsc,
    .seguirmsc {
        margin: 10px;
    }

    .voltarmsc {
        margin-left: 90px;
    }
}

@media screen and (min-width:340px) {
    .musicaplayer {
        bottom: 0%;
        width: 345px;
    }

}
@media screen and (min-width:350px) {
    .musicaplayer {
        bottom: 0%;
        width: 355px;
    }

}
@media screen and (min-width:380px) {
    .musicaplayer {
        bottom: 0%;
        width: 385px;
    }

}

@media screen and (min-width:400px) {
    .musicaplayer {
        bottom: 0%;
        width: 400px;
    }

    .imgdamusica {
        display: flex;
        margin: auto;
        margin-top: 5px;
        text-align: center;
    }

    .voltarmsc {
        margin-left: 130px;
    }
}

@media screen and (min-width:450px) {
    .musicaplayer {
        bottom: 0%;
        width: 450px;
    }
}

@media screen and (min-width:500px) {
    .musicaplayer {
        bottom: 0%;
        width: 500px;
    }

    .voltarmsc {
        margin-left: 170px;
    }
}

@media screen and (min-width:550px) {
    .musicaplayer {
        bottom: 0%;
        width: 550px;
    }

    .voltarmsc {
        margin-left: 200px;
    }
}

@media screen and (min-width:650px) {
    .musicaplayer {
        bottom: 0%;
        width: 650px;
    }

    .voltarmsc {
        margin-left: 250px;
    }
}

@media screen and (min-width:700px) {
    .musicaplayer {
        bottom: 0%;
        width: auto;
    }

    .voltarmsc {
        margin-left: 450px;
    }

    .basemusica {
        margin: 12px;
    }
}

@media screen and (min-width:1070px) {
    .musicaplayer {
        bottom: 0%;
        width: auto;
    }

    .voltarmsc {
        margin-left: 450px;
    }

    .basemusica {
        margin: 20px;
    }
}

@media screen and (min-width:1250px) {
    .musicaplayer {
        bottom: 0%;
        width: auto;
    }

    .voltarmsc {
        width: 50px;
        height: 30px;
        margin-top: 20px;
        margin-left: 510px;
    }

    .seguirmsc {
        margin-top: 20px;
    }

    .basemusica {
        margin: 20px;
    }

    .logo2 {
        display: block;
    }

    .hr {
        display: block;
        margin-left: 10px;
        margin-right: 20px;
    }
}

@media screen and (min-width:1600px) {
    .musicaplayer {
        bottom: 0%;
        width: 1600px;
    }

    .voltarmsc {
        width: 50px;
        height: 30px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .seguirmsc {
        margin-top: 20px;
    }

    .basemusica {
        margin: 20px;
    }

    .logo2 {
        margin-right: 20px;
    }

    .hr {
        margin-left: 10px;
        margin-right: 20px;
    }

    .imgdamusica {
        margin-left: 10px;
        margin-right: 20px;
    }
}
